################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetSite/v17/.wsuo
/.vs/slnx.sqlite
