:root {
    --second-color: #ffd200; /* cette partie du code permet de définir des couleur qui vont être utilisé sur tous le code en CSS */
    --main-color: #e30a0a;
    --text-color: #ffffff;
    --marron-color: #615055;
    --marron-bordure: #f1aa78;
    --rouge-fonce: #8c0f0f;
    --marron-fonce-form: #8F6547;
    --marron-fond: #ffd4b6;
}

body {
    font-family: Georgia, serif; /*police du texte choisi*/
    font-size:20px;/*taille du texte dans le body des pages html*/
    
}

header {
   /*parti du CSS qui s'occupe des entete du site */
    font-size: 55px;/*taille du texte*/
    text-align: center;/*allignement du texte*/
    font-weight: bold; /*texte en gras*/
    color: var(--second-color);/*couleur du texte*/
    text-shadow: 3px 2px 2px var(--marron-bordure);

    background-color: var(--main-color);/*couleur du fond*/
    padding: 25%; /*marge intérieur de 25%*/
    padding-top: 5px; /*marge interieur superieur de 5 pixels*/
    padding-bottom: 5px;/*marge intérieur inférieur de 5 pixels*/
    margin: -8px; /*marge interieur ecartée de 8 pixels à gauche et à droite */
    border: 3px solid #8c0f0f; /* bordure */
}
.image-accueil {
    animation-name: image-accueil;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
}
@keyframes image-accueil {
    from {
        opacity:0;
    }
    to {
        opacity:100%
    }
}

nav {
    /*partie du CSS qui s'occupe */
    position: sticky; /*position du menu de navigation pour qu'il reste en au de la page même si la page est en mouvement */
    top: -1px; /*postion de la nav pas d'écart*/
    margin: -8px;
    font-size: 20px;
    z-index: 1;
}
.conteneur-nav {
    display: flex;
    flex-flow: row wrap; /*flex-direction - flex-wrap*/
    align-content: space-around;
    justify-content: space-around;
    background-color: var(--main-color);
    border: 3px solid var(--rouge-fonce);

    /*Transition*/
    transition-property: padding-top, padding-bottom;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: linear, linear;
}
.conteneur-nav:hover {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*======================================================================================================================*/
.lien-interne {
    color: var(--second-color);
    text-shadow: 1px 1px 2px var(--marron-bordure);
    text-decoration: none;
}
.lien-interne:hover {
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--marron-color);
}
.lien-interne:active {
    color: var(--rouge-fonce);
}
/*==================================================================================================*/
footer {/*partie du code en charge du footer */
    padding-left:4px; /*marge interne de 4px*/
    color: var(--text-color);/*couleur du texte du footer*/

    background-color: var(--main-color);   /*couleur du fond */
    padding-top: 5px;/*marge interne supérieur de 5px*/
    padding-bottom: 5px;/*marge interne inférieur de 5px*/
    margin: -8px;/*marge externe de -8px*/
    border: 3px solid #8c0f0f;/*bordure de 3px visible coloré*/
}
.conteneur-image {
    margin-left:25%;
    margin-right:25%;

    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    justify-content:space-around;
}  
.lien-image:hover {
    transform: scale(1.5) rotate(20deg);
}

main {/*partie du code en charge du main */
    margin: -8px;/*marge externe de -8px*/
    margin-top:8px;/*marge externe supérieur de 8px*/
    margin-bottom:8px;/*marge externe inférieur de 8px*/
    border: 5px solid #f1aa78;/*bordure visible de 5px coloré*/
    background-color: #ffd4b6;/*couleur du fond*/
    padding: 10px;/*marge interne de 10px*/

}

/* MENU */
#titre{
    grid-area: titre;/*selection de la partie titre de la grille (voir plus bas dans le code)*/
    text-align: center;/*texte du titre alignées sur le centre*/
    text-decoration: underline;/*le texte du titre est souligné*/
    
}

#liste-menu{
    border: 2px solid var(--marron-fonce-form);
    background-color: var(--marron-bordure);
    border-radius: 20px;
    box-shadow: 2px 2px grey;
}

#liste-menu ul::first-line{/*partie du CSS en charge de la première ligne des liste du menu*/
    text-align: center;/*texte alignées sur le centre*/
    text-decoration: underline;/*texte sousligné*/
    text-transform: uppercase;/*permet de mettre toutes les lettres en majuscules*/
    font-weight: bold;/*texte en gras*/
    font-size: 25px;/*taille des caractère de 25px*/
}

#liste-menu ul{
    list-style-type: none;/*pas d'élement de décoration de la liste (pas le point a chaque nouvelle élément)*/
    padding-top: 5px;/*marge interne supérieur de 5px*/
}

#indic{
    font-size: 10px;/*taille du texte de 5px*/
}



.conteneur_collab {

    display:flex;
    flex-flow:row wrap; /*axe principal : ligne, peut passer à la ligne suivante*/
    justify-content:start;
    justify-content: space-around; /*espacement entre les éléments*/

    background-color: var(--marron-bordure);
    border: solid;/*bordure solid*/
    border-color: var(--marron-fonce-form);/*couleur des bordures*/
    border-radius: 20px;
    box-shadow: 2px 2px grey;
    padding: 1%;/*marge interne de 1% */
    width: 90%;/*prendra 90% de la largeur*/
    height: auto;/*hauteur automatique de la boite*/
    margin: auto;/*marge du texte automatique*/
}
.element_collab {
    text-align:center; /*alignement automatique au centre */
    width: 96px; /*Largeur des conteneurs des photos de presentation*/
    height: auto; /*Hauteur des conteneurs des photos de presentation*/
}

.photocollab{
    height: 96px; /*Largeur des photos de presentation*/
    width: 96px; /*Hauteur des photos de presentation*/
}

.element_collab:hover {
    transform: scale(1.05); /*aggrandissement de l'image quand on y passe sa sours*/
}

.formreserv fieldset {/*partie du css en charge des formulaire*/
    background-color: var(--marron-bordure);/*couleur du fond*/
    border-radius: 20px;/*bordure arrondie*/
    border: 2px solid var(--marron-fonce-form);/*bordure visible de 2px coloré*/
}

.formreserv legend{/*partie du css en charge des légendes des formulaire*/
    border-radius: 5px;/*bordure arrondie*/
    border: 2px solid var(--marron-fonce-form);/*bordure visible de 2px coloré*/
    background-color: var(--marron-bordure);/*couleur du fond*/
}

.formreserv input, .formreserv select{/*partie du CSS en charge des selections du formulaire*/
    border: none;/*bordure enlever*/
    border-bottom: 2px solid var(--marron-fonce-form);/*bordure visible de 2px coloré*/
    border-radius: 4px 4px 0px 0px;/*bordure arrondie*/
    background-color: var(--marron-fond);
   
    font-size: 16px;/*taille des caractère*/
    width:auto;/*largeur automatique*/
}

.formreserv .nbr{
    width:auto;
}

#reservation{/*bouton reserver du formulaire*/
    border: 2px solid var(--marron-fonce-form);/*bordure visible de 2px coloré*/
    border-radius: 10px;/*bordure avec des coins arrondie*/
    background-color: var(--marron-fond);/*couleur du fond*/
    font-size: 18px;/*taille des caractère*/
}

#reservation:hover{/*CSS en charge du survole du bouton réservation*/
    border: 2px solid var(--marron-fonce-form);/*bordure visible de 2px coloré*/
    background-color: var(--marron-fonce-form);/*couleur du fond*/
    color: var(--marron-fond);/*couleur du texte*/
}

.chut{
    font-size: 9px;
}

#Assiette {/*css en charge de l'image d'assiette*/
    position: relative;/*position relative*/
    float: right;/*position sur la droite*/
    display: inline; /*affichage lineaire*/
    width: 60px;/*largeur de 60px*/
    height: 60px;/*hauteur de 60px*/
    transform:rotate(11deg);/*rotation de l'image de 11deg*/
}

#rectanglecarte{
    border: 2px solid var(--rouge-fonce);
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px grey;
}

.conteneur-confirmation {
    background-color: var(--marron-bordure);
    border: 2px solid var(--marron-fonce-form); /*bordure visible de 2px coloré*/
    border-radius: 10px; /*bordure avec des coins arrondie*/
    font-size: 18px; /*taille des caractère*/

    text-align: center;
    text-transform:uppercase;
}

@media only screen and (768px<=width){ 
#liste-menu {/*partie qui met en place la grille du menu*/
    display: grid;/*mise en place grille*/
    /* color: var(--text-color); */
    grid-template-columns: repeat(2,50%);/*grille de 2 colone qui prenne 50% de la largeur*/
	grid-template-rows: 12% 40% 40% 8%;/*4 ligne avec des tailles variable voir ci-contre*/
    grid-template-areas: " titre titre"/*definie les différent nom de chaque partie de la grille*/
                         " a1 a2 "
                         " b1 b2"
                         " indic indic";
}

.entrees{/*CSS en charge de la partie des entrée du menu*/
    grid-area: a1;/*position dansla grille de cette partie*/
    text-align: center;/*texte allignes au centre*/
}
.plats{/*CSS en charge de la partie des PLats du menu*/
    grid-area: a2;/*position dansla grille de cette partie*/
    text-align: center;/*texte allignes au centre*/
}
.desserts{/*CSS en charge de la partie des desserts du menu*/
    grid-area: b1;/*position dansla grille de cette partie*/
    text-align: center;/*texte allignes au centre*/
}
.boissons{/*CSS en charge de la partie des boissons du menu*/
    grid-area: b2;/*position dansla grille de cette partie*/
    text-align: center;/*texte allignes au centre*/
}
#indic{
    grid-area: indic;/*place la partie textuel*/
    font-size: 10px;/*taille du texte 10px*/
}

.formreserv {
    display: grid;/*creation d'une grille */
    grid-template-columns: repeat(2,50%);/*grille de 2 colonne*/
    grid-template-areas: "reservation event";/*creation des nom des différent emplacement de la grille*/
}
.reservation{
    grid-area: reservation;/*placement du formulaire reservtion dans la grille*/
}
.event{
    grid-area: event;/*placement du formulaire evenement dans une grille*/
}
}

@media only screen and (1200px<=width){ 
    #footer {/*partie qui met en place la grille du footer*/
        display: grid;/*mise en place grille*/
        grid-template-columns: repeat(3,33%);/*grille de 2 colone qui prenne 50% de la largeur*/
        grid-template-areas: "contact carte reseaux"/*definie les différent nom de chaque partie de la grille*/
    }
    .contact {
        grid-area: contact;/*placement du formulaire reservtion dans la grille*/
    }
    .carte{
        grid-area: carte;/*placement du formulaire reservtion dans la grille*/
    }
    .reseaux{
        grid-area: reseaux;/*placement du formulaire evenement dans une grille*/
    }

}
