:root {
    --second-color: #f0e054;
    --main-color: #ff2828;
    --text-color: #ffffff;
}

body {
    font-family: Georgia, serif;
    font-size:20px;
}

header {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);

    background-color: var(--main-color);
    padding: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

nav {
    font-size: 25px;
    position: sticky;
    top: 0px;
    text-align: center;
    word-spacing: 30px;

    background-color: var(--main-color);
    padding: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.lien-interne {
    color: var(--text-color);
    text-decoration: none;
}
.lien-interne:hover {
    color: var(--second-color);
}

footer {
    padding-left:4px;
    color: var(--text-color);

    background-color: var(--main-color);
    padding-top: 5px;
    padding-bottom: 5px;
}
.lien-image {
    padding:10%;
}

main {
    margin-top:10px;
    margin-bottom:10px;
}

#menu{
    background-color:red;
    border-block:solid  6px;
    border-block-color:yellow;
    width:95%;
    margin:auto;
    position:relative;
    min-block-size:800px;
    color:white;
  
}
#menu>.entre{
    position:static;
    width:45%;
    left:5px;
    top:76px
}
#menu>.entres{
    position:static;
    width:45%;
    left:5px;
    top:139px;
}
#menu>.plat{
    position:absolute;
    width:45%;
    right:5px;
    top:76px;
    position:absolute;
}
#menu>.plats{
    position:absolute;
    width:45%;
    right:5px;
    top:139px;
}
#menu h2{
    text-decoration: underline;
}
#menu>.dessers{
    position:absolute;
     width:45%;
    left:5px;
    top:400px;
}
#menu>.desser{
    position:absolute;
     width:45%;
    left:5px;
    top:340px;
}
#menu>.boiss{
    position:absolute;
     width:45%;
    right:0px;
    top:340px;
}
#menu>.boisss{
    position:absolute;
     width:45%;
    right:0px;
    top:400px;
}
#menu>h1{
    text-align:center;
    text-decoration:underline;
}